@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'utils';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body{
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer{
    & a{
        @apply hover:text-green-600;
    }
}
